/*App Basic*/
.app{
	position: absolute;
	top:24px;
	left: 40%;
	width: 10%;
	height: 10%;
	z-index: 99999;
}
.app-title{
	position: absolute;
	top:0px;
	left: 0px;
	width: 5%;
	height: 34px;
	background: #000;
	color: #fff;
	line-height: 34px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}
.app-title .close-btn{
	position: absolute;
	left:0px;
	top:0px;
	width: 38px;
	height: 34px;
	background: #711;
	transition:.25s all;
	color: rgba(255,255,255,0.8);
	text-align: center;
	line-height: 31px;
}
.app-title .app-title-name{
	position: absolute;
	padding: 0px 5px;
	left: 38px;
	top:0px;
}
.app-title .close-btn:hover{
	background: #a11;
	color: rgba(255,255,255,0.9);
}
.app-body{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	!background: #000;
	color: #fff;
}
/*App Specific*/
#browser-main{
	display: none;
}
#browser-bar{
	position: absolute;
	top:0px;
	height: 28px;
	left: 5%;
}
.browser-bar{
	width: 95%;
	padding: 3px;
	color: #fff;
	background: #000;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}
.browser-bar input{
	margin-left: 10px;
	height:26px;
	width:94%;
	border:none;
	outline: none;
	font:18px;
	font-family: inherit;
	padding: 0px 5px;
	border-radius: 3px;
	color: #000;
	transition:.3s all;
}
.browser-bar input:focus{
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.3),
				inset 0px -1px 2px rgba(0,0,0,0.15),
				inset 0px 2px 2px rgba(0,0,0,0.15),
				0px 1px #01a2e8,0px -1px #01a2e8,
				1px 0px #01a2e8,-1px 0px #01a2e8;
}
#browser-render{
	position: absolute;
	top:34px;
	left: 0px;
	background: #fff;
	width: 100%;
	height: 100%;
}
.browser-render iframe{
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	overflow: none;
}
#loader-circle{
	position: absolute;
	float: right;
	right: 10px;
	top:2px;
}
#loader-circle img{
	width: 24px;
	height: 24px;
}