body{
	font-family: 'robotoregular', Arial, sans-serif;
	!font-family: Calibri, Arial, sans-serif;
	cursor:default;
	font-size: 15px;
	overflow: hidden;
}
.unselectable{
	-webkit-user-select: none;
	-moz-user-select: none;     
	-ms-user-select: none;      
	-o-user-select: none;
	user-select: none; 
}
#kernel{
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url("../../system/images/background.jpg");
	background-size: cover;
}
#kernel:-webkit-full-screen	{ width: 100% }
#kernel:-moz-full-screen	{ width: 100% }
#kernel:-ms-full-screen		{ width: 100% }
#kernel:-o-full-screen		{ width: 100% }
#kernel:full-screen			{ width: 100% }
#menu-bar{
	position: fixed;
	top:0px;
	left:0px;
}
.menu-bar{
	width: 100%;
	height: 24px;
	padding: 0px 5px;
	z-index: 999999;
}
.menu-bar-left{
	position: absolute;
	top:0px;
	left:5px;
	height: 22px;
	line-height: 22px;
}
.menu-bar-center{
	position: fixed;
	width: 100%;
	top:0px;
	text-align: center;
}
.menu-bar-center span{
	display: inline-block;
	line-height: 22px;
	height: 22px;
	padding: 0px 5px;
}
.menu-bar-right{
	position: absolute;
	top:0px;
	right:10px;
}
.menu-bar-right ul{
	list-style: none;
}
.menu-bar-right ul li{
	display: inline-block;
	position:relative;
	top:-14px;
	height: 22px;
	width: 22px;
}
.menu-bar-right ul li img{
	position: relative;
	width: 16px;
	height: 16px;
	top:3px;
	left: 3px;
}
.mbr-notification{
	position: fixed;
	top:15px;
	right: 5px;
	width: 200px;
	padding: 10px;
	opacity: 0;
	text-align: center;
}
#watermark{
	color: #fff;
	position: absolute;
	right: 20px;
	bottom: 0px;
	opacity: 0.9;
	text-shadow:0px 0px 5px rgba(0,0,0,0.9);
}
#sample{
	position: absolute;
	top:50px;
	left:50px;
	width: 640px;
	height: 480px;
	display: none;
}
.window{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
	background: #fff;
	z-index: 999;
	border-radius: 3px;
	border: 3px solid rgb(0,0,0);
}
.window .title{
	height: 21px;
	background: rgb(0,0,0);
	text-align: center;
	color: #fff;
	line-height: 18px;
}
.window .title .close-btn{
	position: absolute;
	right:0px;
	top:0px;
	width: 38px;
	height: 17px;
	background: #711;
	border-radius: 2px;
	transition:.25s all;
	color: rgba(255,255,255,0.8);
	text-align: center;
	line-height: 13px;
}
.window .title .close-btn:hover{
	background: #a11;
	color: rgba(255,255,255,0.9);
}
#desktop{
	position: absolute;
	top:40px;
	left: 30px;
}
.desktop{
	z-index: 999;
}
.desktop ul{
	list-style: none;
	margin-left: -40px;
}
.desktop ul li{
	margin-bottom: 15px;
	opacity: 0.8;
	transition:.25s opacity;
}
.desktop ul li:hover{
	opacity: 1;
}
.desktop ul li img{
	width: 64px;
}
.desktop ul li p{
	position: relative;
	top:-15px;
	left: -7px;
	width: 77px;
	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 5px rgba(0,0,0,1);
}
#app-menu{
	position: absolute;
	left: 0px;
	top:24px;
	width: 100%;
	height: 100%;
	display: none;
}
.app-menu{
	background: rgba(0,0,0,0.6);
	z-index: 998;
}
.app-menu input{
	position: relative;
	top:10px;
	width: 135px;
	border:none;
	outline: none;
	height: 40px;
	background: transparent;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.7),
					  0px 0px 5px rgba(0,0,0,0.5);
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 16px;
	font-family: inherit;
	color: #aaa;
	transition:.2s;
}
.app-menu input:focus{
	width: 400px;
	background: #eee;
	color: #111;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.7),
					  0px 0px 5px rgba(0,0,0,0.5);
}
.icon-draggable{
	transition:.5s all;
}
.moveDownClass{
	transition:.5s all;
	position: relative;
	top:45px;
}
.moveUpClass{
	transition:.5s all;
	position: relative;
	top:0px;
}
#app-menu-grid{
	position: relative;
	top:25px;
}
.app-menu-grid{
	display: none;
	width: 80%;
	height: 80%;
	padding: 10px;
	border-radius: 3px;
	background: rgba(255,255,255,0.1);
	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 5px rgba(0,0,0,1);
}
#running-apps{
	position: absolute;
	float: right;
	top:65px;
	right:8px;
}
.running-apps{
	display: none;
	width: 90px;
	height: 80%;
	padding: 10px;
	border-radius: 3px;
	background: rgba(255,255,255,0.1);
	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 5px rgba(0,0,0,1);
}